<script id="mapa_marker_voce" type="text/x-handlebars-template">

    <div>
        <div class="box_avaliacao_usuario">

            <div class="box_avaliacao_usuario_motorista--foto_marker">
                <img class="box_avaliacao_usuario--foto--img_marker" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQgygYGC_4TN6JA9x_FLoZyuVqfvLOC5b6uj30Op87i51mT_2iSw" />
            </div>

            <div class="box_avaliacao_usuario_motorista--detalhes_box">

                <div class="box_avaliacao_usuario--detalhes_marker">

                    <div class="box_avaliacao_usuario--detalhe">
                        <span>{{nome}}</span>
                    </div>

                    <div class="box_avaliacao_usuario--detalhe">
                        <span>{{curso}}</span>
                    </div>

                    <div class="box_avaliacao_usuario--detalhe">
                        <span>{{periodo}}</span>
                    </div>

                    <div class="box_avaliacao_usuario--detalhe">
                        <span>{{enderecoPartida.rua}},
                            {{enderecoPartida.bairro}}.
                            {{enderecoPartida.cidade}}.
                            {{enderecoPartida.estado}}</span>
                    </div>

                    <div class="box_avaliacao_usuario--detalhe">
                        <span>horario de partida: {{horarioPartida}}</span>
                    </div>

                    <div class="box_avaliacao_usuario--detalhe">
                        <span>horario de chegada: {{horarioChegada}}</span>
                    </div>

                </div>

            </div>

        </div>

    </div>


</script>
